@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@300;700&display=swap');
:root {
  --title-color: #322153;
  --primary-color: #34CB79;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background: #F0F0F5;
  color: #6C6C80;
  -webkit-font-smoothing: antialiased;
}

body,
input,
button {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ubuntu', sans-serif;
  color: var(--title-color);
  font-weight: bold;
}

fieldset {
  border: 0;
  width: 100%;
}
